<!DOCTYPE html>
{{$logo := print .Path "/assets/static/logo.png?cacheBust=" .Random }}{{ if .Logo }}{{$logo = .Logo}}{{ end }}
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ .Path }}/assets/static/anubis/style.css?cacheBust={{ .Random }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="referrer" content="origin"/>
    {{ range .MetaTags }}
    <meta {{ range $key, $value := . }}{{ $key | attr }}="{{ $value }}" {{end}}/>
    {{ end }}
    {{ range .LinkTags }}
    <link {{ range $key, $value := . }}{{ $key | attr }}="{{ $value }}" {{end}}/>
    {{ end }}
    {{ range .HeaderTags }}
    {{ . }}
    {{ end }}
</head>
<body id="top">
<main>
    <center>
        <h1 id="title" class=".centered-div">{{ .Title }}</h1>
    </center>

    <div class="centered-div">
        <img
                id="image"
                style="width:100%;max-width:384px;"
                src="{{ $logo }}"
        />
        {{if .Challenge }}
        <p id="status">{{ .Strings.Get "status_loading_challenge" }} <em>{{ .Challenge }}</em>...</p>
        {{else if .Error}}
        <p id="status">{{ .Strings.Get "status_error" }} {{ .Error }}</p>
        {{else}}
        <p id="status">{{ .Strings.Get "status_loading" }}</p>
        {{end}}
        <details>
            <summary>{{ .Strings.Get "details_title" }}</summary>

            {{.Strings.Get "details_text"}}
        </details>

        {{if .Redirect }}
            <a style="margin-top: 2em; margin-bottom: 2em;" role="button" href="{{ .Redirect }}">{{ .Strings.Get "button_refresh_page" }}</a>
        {{end}}

        {{if .EndTags }}
            <noscript>
                {{ .Strings.Get "noscript_warning" }}
            </noscript>
        {{end}}
    </div>

    {{ range .EndTags }}
        {{ . }}
    {{ end }}
</main>
</body>
</html>
